.slick-dots {
  display: table;
  font-size: 3px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}

.slick-dots li {
  display: table-cell;
}

.slick-dots button {
  border: 1px solid $color__darkblue;
  background: $color__darkblue;
  color: $color__darkblue;
  height: 15px;
  width: 100%;
  border-radius: 0;
  line-height: 0;
  text-indent: -999em;
}

.slick-dots button:hover,
.slick-dots button:active,
.slick-dots button:focus {
  background: $color__blue;
  border: 1px solid $color__blue;
}

.slick-active button {
  background: $color__purple;
  border: 1px solid $color__purple;
  color: $color__purple;
}
