$color__black: #000;
$color__blue: #1f8dd6;
$color__darkblue: #373a47;
$color__green: #5eb95e;
$color__lightgreen: #66cc66;
$color__purple: #8058a5;
$color__red: #dd514c;
$color__orange: #f37b1d;
$color__yellow: #fad232;

$color__background-body: #ececec;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #f6f6f6;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #6c6c6c;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
