$color__black: #333;
$color__blue: #1f8dd6;
$color__darkblue: #373a47;
$color__green: #5eb95e;
$color__lightgreen: #66cc66;
$color__purple: #8058a5;
$color__red: #dd514c;
$color__orange: #f37b1d;
$color__yellow: #fad232;

$color__background-body: #ececec;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__darkblue;
$color__background-pre: #f6f6f6;
$color__background-ins: #fff9c0;
$color__background-entry-header: $color__darkblue;
$color__background-site-content: #fff;
$color__background-wp-caption-text: #f5f5f5;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__blue;
$color__link-visited: $color__blue;
$color__link-hover: $color__blue;
$color__entry-header-a: #777;
$color__entry-header-a-hover: $color__blue;
$color__text-main: #6c6c6c;
$color__text-entry-header: #fff;

$color__border-pre: #ccc;
$color__border-tr: #ccc;
$color__button: #fff;
$color__border-button: $color__darkblue;
$color__border-button-hover: $color__blue;
$color__border-button-focus: $color__blue;
$color__background-button-hover: $color__blue;
$color__border-input: #ccc;
$color__border-abbr: #666;
