$size__site-main: 100%;
$size__site-sidebar: 30%;
$size__site-content: 960px;
$size__hentry: 640px;
$size__drawer: 250px;
$size__site-title: 2em;
$height__site-header: 56px;


$margin__top-wrapper: $height__site-header + 15;
