.sticky {
	display: block;
}

.site-main .hentry {
	margin: 0 0 1.5em;
	max-width: $size__hentry;
}

.single .hentry,
.page .hentry {
	margin-top: 0;

}

.entry-header {
	color: $color__black;
}

.site-main .entry-header {
	background: #fff;
	border-bottom: 1px solid #ccc;
	position: relative;
	max-width: $size__hentry;
	padding: $padding__site-content;
}

.has-post-thumbnail .entry-header {
	margin-top: -52px;
}

.entry-header a {
	color: $color__entry-header-a;
	text-decoration: none;
}

.entry-header a:hover {
	color: $color__entry-header-a-hover;
}

.entry-title {
	font-size: 2em;
	margin: 0;
}

.entry-meta {
	background: #fff;
	color: #777;
	display: inline-block;
	font-size: 0.8em;
}

.entry-meta a {
	color: #777;
}

.read-more {
	display: block;
	text-align: right;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	border-bottom: 1px solid #ccc;
}

.cat-links,
.tags-links {
	display: block;
}
