.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
	max-width: $size__hentry;
}

.single .hentry,
.page .hentry {
	margin-top: 0;

}

.entry-header {
	background: $color__background-entry-header;
	color: #fff;
	margin: -$padding__site-content;
	padding: $padding__site-content;
}

.entry-header a {
	color: $color__entry-header-a;
	text-decoration: none;
}

.entry-header a:hover {
	color: $color__entry-header-a-hover;
}

.entry-title {
	font-size: 2em;
}

.entry-meta {
	font-size: 0.8em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.cat-links,
.tags-links {
	display: block;
}
